*
!*/

.venv/
.venv/*
.idea/
__pycache__/

!*.py
!README.md
!README.ko.md
!.gitignore
!docs
!docs/*.png

!setup.bat
!setup.sh
!run.bat
!run.sh
!requirements.txt

!rqpfunctions
!rqpfunctions/.gitkeep
rqpfunctions/*.py
!rqpfunctions/rqpf_CLASSICALSIGNALDEFAULT.py

!ppips
!ppips/.gitkeep